html *{
  font-size:16px;
  font-family: ivypresto-headline, serif;
  font-weight: 400;
  font-style: normal;
}
body{
  min-height: 100vh;
}
body, .footer {
  background-color: rgb(214,207,203);
}

.brown-card {
  background-color: tan;
}

.footer {
  font-size: 12px;
  z-index:100;
  inset:auto 0 0 0;
  position:fixed;
  padding:1.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 10px 0px 20px, rgba(0, 0, 0, 0.23) 6px 0px 6px;
}